:root {
    --main-color: rgba(55, 55, 240, 1);
    --h1-size: clamp(2.125rem, 5.2vw, 6.25rem);
    --h2-size: clamp(1.25rem, 3.125vw, 3.75rem);
    --h3-size: clamp(1.125rem, 1.5625vw, 1.875rem);
    --h4-size: clamp(1rem, 2vw, 2.5rem);
    --p-size: clamp(0.625rem, 1vw, 1.25rem);
    --padding: clamp(1.25rem, 2.6vw, 3.125rem);
    --bg-white: rgba(251, 251, 251, 1);
    --bg-blue: rgba(244, 244, 255, 1);
    --text-indent: clamp(1.25rem, 2.6vw, 3.125rem);
    --box-shadow: clamp(-0.125rem, -0.2vw, -0.25rem) clamp(0.125rem, 0.2vw, 0.25rem) 0.25rem rgba(0,0,0,0.25);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}
body {
    font-size: 16px; 
    color: black;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Roboto Mono", monospace;
}
body.no-scroll {
    overflow: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
p, .services h2, .hero a, .hero a:active, h1, h4, .services h3, h2, h3, .contacts button, .contacts button:active, input {
    font-weight: 400;
}
.logo a, .footer a {
    font-weight: 500;
}
p {
    font-size: var(--p-size);
    text-indent: var(--text-indent);
}
h2 {
    font-size: var(--h2-size);
    justify-self: center;
}
ul {
    list-style: none;
}
.hero, .services, .contacts, header{
    background-color: var(--bg-white);
}
.about, .portfolio {
    background-color: var(--bg-blue);
}
header, .main-nav.active, .main-nav, .main-nav.active, .main-nav ul, .hero, .about ul, .about, .services, footer, .contacts form, .contacts div, .contacts, .card-portfolio, .services ul, .portfolio, .portfolio-div {
    display:grid;
}


/*Блок header*/

header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    position: sticky;
    top: 0;
    border-bottom: clamp(0.125rem, 0.26vw, 0.3125rem) solid var(--main-color);
}

.logo {
    padding: var(--padding);
    display: inline;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
}
.logo span {
    color: var(--main-color);
}
.logo a {
    font-size: clamp(1rem, 2.6vw, 3.125rem);
    color:black;
}
.main-nav, .main-nav.active {
    margin-left: 50%;
    margin-bottom: 1.25rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: start;
}
.main-nav {
    transform: translateY(-100%);
    transition: all 0.3s ease; 
    position: fixed;
    opacity: 0;
}
.main-nav.active {
    transform: translateY(0%);
    position: static;
    opacity: 1;
}
.main-nav ul {
    gap: 1.25rem;
    align-items: start;
}
.main-nav.active {
    gap: 1.25rem;
}
.main-nav a {
    color: black;
    border-bottom: 0.5vw solid black;
    font-size: var(--p-size);
}
.main-nav.active a:hover {
    transform: scale(0.95);
}
.burger {
    background: none;
    border: none;
    cursor: pointer;
    justify-content: space-around;
    width: 2.75rem;
    height: 2.75rem;
    z-index: 10;
    align-self: center;
    grid-column: 2 / 3;   /* вторая колонка */
    grid-row: 1 / 2;      /* первая строка */
    justify-self: end;
    display: flex;
    flex-direction: column;
    column-gap: 0.3rem;
    margin-right: 1.25rem;
}
.burger span {
    width: 100%;
    height: 4px;
    background: black; /* цвет полосок */
    transition: all 0.2s ease-in-out;
    transform-origin: center; /* для поворота вокруг центра */
}
.burger.active span:nth-child(1) {
    transform: translateY(0.9rem) rotate(45deg);
}
.burger.active span:nth-child(2) {
    opacity: 0;
}
.burger.active span:nth-child(3) {
    transform: translateY(-0.9rem) rotate(-45deg);
}

/*Блок hero*/

.hero a, .hero a:active {
    border-radius: 5em;
    color:white;
    font-size: var(--p-size);
    display: inline-block;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding: 0.65em 1.3em;
    background-color: var(--main-color);
}
.hero a:active{
    transform: scale(0.95);
}
.hero ul {
    display:flex;
    justify-content: start;
    column-gap: 3vw;
}
h1 {
    font-size: var(--h1-size);
    text-indent: 50%;
}
.hero {
    padding: var(--padding);
    gap: clamp(0.625rem, 2.6vw, 3.125rem); /*gap: 0.6rem;*/
    background-color: var(--bg-white);
}

/*Блок about*/
.about h2 {
    text-align: center;
}
.about li {
    padding: clamp(1rem, 1.66vw, 2rem) clamp(2rem, 3.33vw, 4rem);
    background-color: white;
    outline: clamp(0.1875rem, 0.26vw, 0.3125rem) solid var(--main-color);
    outline-offset: clamp(-0.1875rem, -0.26vw, -0.3125rem);
    border-radius: clamp(0.625rem, 1vw, 1.25rem);
    box-shadow: var(--box-shadow);
}
.about h3 {
    font-size: var(--h3-size);
}
.about ul {
    gap: clamp(1.25rem, 2.6vw, 3.125rem);
    text-align: center;
}
.about {
    padding: var(--padding);
    background-color: var(--bg-blue);
    gap: clamp(1.25rem, 2.6vw, 3.125rem);
}
h4 {
    font-size: var(--h4-size);
}

/*Блок services*/

.services h2 {
    font-size: var(--h2-size);
}
.services h3 {
    color: var(--main-color);
    font-size: var(--h3-size);
}
.services {
    gap: clamp(1.25rem, 2.6vw, 3.125rem);
    padding: var(--padding);
    background-color: var(--bg-white);
}
.services li {
    padding: 1.25rem;
    padding-bottom: clamp(1.25rem, 2.6vw, 3.125rem);
    background-color: white;
    outline: clamp(0.1875rem, 0.26vw, 0.3125rem) solid var(--main-color);
    outline-offset: clamp(-0.1875rem, -0.26vw, -0.3125rem);
    border-radius: clamp(0.625rem, 1vw, 1.25rem);
    box-shadow: var(--box-shadow);
    gap: 0.6rem;
}
.services ul {
    gap: clamp(1.25rem, 2.6vw, 3.125rem);
}

/*Блок portfolio*/

.portfolio {
    gap: clamp(0.9rem, 2.6vw, 3.125rem);
    padding: var(--padding);
    background-color: var(--bg-blue);
}
h3 {
    font-size: var(--h3-size);
}
.card-portfolio img {
    width: clamp(20.9375rem, 62.5vw, 75rem);
    border-radius: clamp(0.625rem, 1vw, 1.25rem);
    outline: clamp(0.1875rem, 0.26vw, 0.3125rem) solid var(--main-color);
    outline-offset: clamp(-0.1875rem, -0.26vw, -0.3125rem);
    box-shadow: var(--box-shadow);
}
.portfolio-div {
    gap: clamp(0.9rem, 2.6vw, 3.125rem);
    margin: 0 auto;
    text-align: center;
}
.card-portfolio {
    gap: clamp(0.625rem, 1vw, 1.25rem);
}

/*Блок contacts*/

.contacts {
    gap: clamp(0.9rem, 2.6vw, 3.125rem);
    padding: var(--padding);
    background-color: var(--bg-white);
    padding-bottom: calc(var(--padding)*2);
}
input {
    background-color: white;
    border-radius: 100px;
    font-size: var(--p-size);
    display: inline-block;
    padding: clamp(0.875rem, 1vw, 1.25rem);
    outline: clamp(0.1875rem, 0.26vw, 0.3125rem) solid var(--main-color);
    outline-offset: clamp(-0.1875rem, -0.26vw, -0.3125rem);
    height: clamp(2.5rem, 3,33vw, 4rem);
}
.contacts button, .contacts button:active {
    background-color: var(--main-color);
    border-radius: 100px;
    color:white;
    font-size: var(--p-size);
    border: 0px;
    height: clamp(2.5rem, 3.33vw, 4rem);
}
.contacts button:active{
    transform: scale(0.95);
}
.contacts div {
    gap: clamp(0.625rem, 1vw, 1.25rem);
}
.contacts form {
    gap: clamp(0.9rem, 2.6vw, 3.125rem);
}
.contacts span {
    color: rgba(230, 39, 39, 1);
}

/*Секция footer*/

footer p {
    justify-content: end;
    display: flex;    
    color:white;
}
footer {
    background-color: var(--main-color);
    padding: clamp(0.625rem, 1vw, 1.25rem) var(--padding);
    gap: clamp(1.25rem, 2.6vw, 3.125rem);
}
.logo-footer a{
    font-size: var(--h1-size);
    color:white;
}
.logo-footer h2{
    justify-self: start;
}
.footer-img-a{
    display: block;
    border-radius: clamp(0.625rem, 1.25vw, 1.25rem);
    outline: clamp(0.625rem, 1.25vw, 1.25rem) solid var(--main-color);
    outline-offset: clamp(-0.625rem, -1.25vw, -1.25rem) solid var(--main-color);
    background-color: var(--main-color);
}
.footer-img img{
    display: block;
    border-radius: clamp(0.625rem, 1.25vw, 1.25rem);
    outline: clamp(0.625rem, 1.25vw, 1.25rem) solid var(--main-color);
    outline-offset: clamp(-0.625rem, -1.25vw, -1.25rem) solid var(--main-color);
    background-color: var(--main-color);
    width: clamp(3.125rem, 5.2vw, 6.25rem);
}
.footer-img{
    display: flex;
    gap: 3.125rem;
}

@media (min-width: 769px) {
    .burger {
        display:none;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .main-nav {
        display: inline-flex;
        position: static;  
        margin: 0;   
        opacity: 1;
        transform: translateY(0%);
        align-items: center;
        padding: 1.25rem 3.125rem;
    }
    .main-nav a {
        border-bottom: none;
    }
    .main-nav ul {
        display: flex;
        gap: 3.125rem;
    }
    .logo {
        padding: 1.25rem 3.125rem;
    }
    .about {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-content: center;
        gap: 3.125rem;
    }
    .about h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .about ul {
        flex-direction: column;
        text-align: center;
        align-content: start;      
        display: inline-flex;
        width: 33.85vw;
        grid-column: 1/2;
        grid-row: 2/3;
    }   
    .about h4 {
        grid-column: 2/3;
        grid-row: 2/3;
        display:block;
        margin-left: 13.489vw;
        align-self: center;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: 0;
        justify-content: center;
    }
    .services h2 {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .services li {
        width: 29.84vw;
    }
    .services li:nth-child(1), .services li:nth-child(2), .services li:nth-child(3) {
        grid-row: 2/3;
    }
    .services li:nth-child(1) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .services li:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .services li:nth-child(3) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .services li:nth-child(4), .services li:nth-child(5) {
        grid-row: 3/4;
    }
    .services li:nth-child(4) {
        grid-column: 1/2;
    }
    .services li:nth-child(5) {
        grid-column: 2/3;
    }
}